.img{
    width: 100%;
    border-radius: 2px 2px 2px 2px;
    filter:brightness(120%);
}
.card{
    width: 40%;
box-shadow: -8px -23px 230px 40px rgba(12,1,1,1);
-webkit-box-shadow: -8px -23px 230px 40px rgba(12,1,1,1);
-moz-box-shadow: -8px -23px 230px 40px rgba(12,1,1,1);
    color:#ffffff
}

.videogameTitle{
    font-family: 'Ubuntu', sans-serif;
    filter: brightness(100%);

}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2%
}
.button{
    /* margin: 2%;
    border-radius: 2px 2px 2px 2px;
    background: rgb(11, 196, 226);
    color:#ffffff;
    text-decoration: none */
    cursor: pointer;
    border-radius: 8%;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  
  color: #ffffff;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  margin-left: 86%;
  filter:brightness(100%)

}

.button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    
}

.genres{
    display: inline-block;
    margin: 1%;
    font-family: 'Ubuntu', sans-serif;
    font-weight:lighter;
    filter: brightness(100%);
}